.nested-fields.well
  .row
    .span3
      = f.input :title, label: false, input_html: { placeholder: Menu::Item.human_attribute_name(:title) }
    .span3
      = f.input :slug, label: false, input_html: { placeholder: Menu::Item.human_attribute_name(:slug) }
    .span3
      = f.input :position, label: false, input_html: { placeholder: Menu::Item.human_attribute_name(:position) }
    .span3
      = link_to_remove_association "Удалить элемент меню", f, class: 'btn btn-danger'
