.nested-fields.well
  .row
    .span3
      = f.input :title, label: false, input_html: { placeholder: Product::Profile.human_attribute_name(:title) }
    .span3
      = f.input :brick_house_cost, label: false, input_html: { placeholder: Product::Profile.human_attribute_name(:brick_house_cost) }
    .span3
      = f.input :panel_house_cost, label: false, input_html: { placeholder: Product::Profile.human_attribute_name(:panel_house_cost) }
    .span3
      = link_to_remove_association "Удалить профиль", f, class: 'btn btn-danger'
