.container.companies
  .row
    .span4
      = link_to '', 'http://mdm-group.ru', class: 'company-link mdm-group'
    .span4
      = link_to '', 'http://mdm-complect.ru', class: 'company-link mdm-complect'
    .span4
      = link_to '', 'http://indexventures.ru', class: 'company-link index-ventures'
