.container-fluid
  .row-fluid.custom-header
    .span2
      .left-btns
        .rule
          = link_to 'Вызвать замерщика', new_measure_path, class: 'measure-btn'
        -#= link_to '', "/consult/", class: 'consult-btn'

    .span4.logo-box
      = link_to '', root_path, class: 'logo-btn'

    .span4.logo-box
      = link_to '', root_path, class: 'banner-btn'

    .span2.right
      .right-text
        .fast-consult-label Мы работаем с 9:00 до 18:00
        .phone 75-84-71, 70-38-71
        = link_to 'Заказать обратный звонок!', new_question_path, class: 'feedback-call-btn clearfix'
        %a.email-btn(href="mailto:info@oknavd.ru")
          %i.icon-envelope
          info@oknavd.ru

