.container-fluid
  .row-fluid.custom-header
    .span4
      .left-btns
        = link_to '', "/measure/", class: 'measure-btn'
        = link_to '', "/consult/", class: 'consult-btn'

    .span5
      Логотип

    .span3
      .right-text
        .fast-consult-label Мы работаем с 9:00 до 21:00
        .phone 78-307-78
        %a.feedback-call-btn(href="#") Заказать обратный звонок!

