.content
  %h3 Прайс-лист

  .items
    .item.well
      .row
        .span2
          = image_tag asset_path('okna/three.png')
        .span6
          %h5 Зал, 2100x1400, двойной стеклопакет (3 стекла)

          %table.table.table-striped
            %thead
              %tr
                %th Профиль
                %th Кирпичный дом
                %th Панельный дом

            %tbody
              %tr
                %td SALAMANDR 2D 60
                %td 14 000
                %td 14 000
              %tr
                %td SALAMANDR 2D 60
                %td 14 000
                %td 14 000
              %tr
                %td SALAMANDR 2D 60
                %td 14 000
                %td 14 000
    .item.well
      .row
        .span2
          = image_tag asset_path('okna/three.png')
        .span6
          %h5 Зал, 2100x1400, двойной стеклопакет (3 стекла)

          %table.table.table-striped
            %thead
              %tr
                %th Профиль
                %th Кирпичный дом
                %th Панельный дом

            %tbody
              %tr
                %td SALAMANDR 2D 60
                %td 14 000
                %td 14 000
              %tr
                %td SALAMANDR 2D 60
                %td 14 000
                %td 14 000
              %tr
                %td SALAMANDR 2D 60
                %td 14 000
                %td 14 000