<!DOCTYPE html>
<html>
<head>
  <title>MdmStandart</title>
  <%= stylesheet_link_tag    "site", :media => "all" %>
  <%= javascript_include_tag "site" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
